---

---
<ul class="partial" data-partial="fragments/ticker/list">
  <li class="bumper">
    {{{mixin "fragments/ticker/bumper"}}}
  </li>
  <li>
    {{{mixin "fragments/ticker/sublist" this}}}
  </li>

</ul>
