---
id: #String
class: #String
---
<section {{#if id}}id="{{{id}}}"{{/if}} class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="components/c3_view/c3-0_startscreen"
  {{#block "attributes"}}
    data-partial="components/c3_view"
  {{/block}}
>
  {{#block "placeholder"}}

  {{/block}}
</section>
