---

---
<div class="partial controller" data-partial="components/c4_scene" data-controller="./partials/components/Scene" data-target=".controller[data-controller='./partials/elements/link/facebook/Connect']">
  {{#block "placeholder"}}    
    {{{mixin "components/c3_view/c3-0_startscreen" this target=".controller[data-controller='./partials/components/Scene']"}}}
    {{{mixin "components/c3_view/c3-1_configurator" this target=".controller[data-controller='./partials/components/Scene']"}}}
    {{{mixin "components/c3_view/c3-2_game" this target=".controller[data-controller='./partials/components/Scene']"}}}
  {{/block}}
</div>
