---
connect:
  permissions: "email,user_likes"
---
<div class="partial controller" data-partial="fragments/social-login" data-controller="./partials/fragments/SocialLogin" data-target=".controller[data-controller='./partials/elements/link/facebook/Connect']">
  {{{mixin "elements/link/facebook/connect" connect}}}
</div>
