---
list:
  -
    user:
      id: 1766965014
      name: 'Stephan Gerbeth'
    message: 'Überall dieselbe alte Leier.'
  -
    user:
      id: 1570482221
      name: 'Hartmut Kozok'
    message: 'Das Layout ist fertig, der Text lässt auf sich warten.'
  -
    user:
      id: 1328864217
      name: 'Dirk Lanio'
    message: 'Genau zu diesem Zwecke erschaffen.'
  -
    user:
      id: 670728662
      name: 'Ulrich Erdmann'
    message: 'Sein ist wahrgenommen werden.'
nextList:
---
<div class="partial controller" data-partial="fragments/ticker" data-controller="./partials/fragments/Ticker" {{#if target}}data-target="{{{target}}}"{{/if}}>
  {{{mixin "fragments/ticker/list" list=list}}}
  {{{mixin "fragments/ticker/list" list=nextList}}}
</div>
