---
connect:
  permissions: "manage_pages,publish_pages"
---
<div class="partial controller" data-partial="fragments/setup/facebook-page-access" data-controller="./partials/fragments/setup/FacebookPageAccess" data-target=".controller[data-controller='./partials/elements/link/facebook/Connect']">
  {{{mixin "elements/link/facebook/connect" connect}}}
</div>
