---
list: []
---
<div class="partial controller" data-partial="fragments/stats/bar-chart" data-controller="./partials/fragments/stats/BarChart" data-target="{{{target}}}">
  {{{mixin "fragments/stats/bar" list}}}
</div>
