.partial[data-partial="components/c3_view/c3-2_game"] {
  position: relative;

  .partial[data-partial="elements/headline/h1"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .partial[data-partial="fragments/stats"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .partial[data-partial="fragments/ticker"] {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}
